models/paraphrase-multilingual-MiniLM-L12-v2/model.safetensors filter=lfs diff=lfs merge=lfs -text
models/paraphrase-multilingual-MiniLM-L12-v2/** filter=lfs diff=lfs merge=lfs -text
models/saved_models/*.pkl filter=lfs diff=lfs merge=lfs -text
